{% extends 'baseprofile.html.twig' %}

{% block settings %}
    {{ parent() }}
    {{ form_start(form) }}

    <div class="custom-block bg-white">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="true">Profile</button>
            </li>

{#            <li class="nav-item" role="presentation">#}
{#                <button class="nav-link" id="password-tab" data-bs-toggle="tab" data-bs-target="#password-tab-pane" type="button" role="tab" aria-controls="password-tab-pane" aria-selected="false">Password</button>#}
{#            </li>#}
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                <h6 class="mb-4">User Profile</h6>

                <form class="custom-form profile-form" method="post" action="{{ path('user_profile_edit', {'iduser': user.id}) }}">
{#                    {{ form_start(form) }}#}

                    {{ form_row(form.nom, {
                        'attr': {
                            'class': 'form-control',
                            'placeholder': 'Enter your name',
                        }
                    }) }}

                    {{ form_row(form.email, {
                        'attr': {
                            'class': 'form-control',
                            'placeholder': 'Enter your email',
                        }
                    }) }}
{#                    {{ form_row(form.password.first, {#}
{#                        'attr': {#}
{#                            'class': 'form-control',#}
{#                            'placeholder': 'Enter your password',#}
{#                        }#}
{#                    }) }}#}

{#                    {{ form_row(form.password.second, {#}
{#                        'attr': {#}
{#                            'class': 'form-control',#}
{#                            'placeholder': 'Repeat your password',#}
{#                        }#}
{#                    }) }}#}



                    <div class="d-flex">
                        <button type="submit" class="form-control ms-2">
                            Update
                        </button>
                    </div>

                    {{ form_end(form) }}
                </form>
            </div>

        </div>
    </div>
{% endblock %}
{#<div class="col-lg-7 col-12">#}
{#    <div class="custom-block bg-white">#}
{#        <ul class="nav nav-tabs" id="myTab" role="tablist">#}
{#            <li class="nav-item" role="presentation">#}
{#                <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="true">Profile</button>#}
{#            </li>#}

{#            <li class="nav-item" role="presentation">#}
{#                <button class="nav-link" id="password-tab" data-bs-toggle="tab" data-bs-target="#password-tab-pane" type="button" role="tab" aria-controls="password-tab-pane" aria-selected="false">Password</button>#}
{#            </li>#}

{#            <li class="nav-item" role="presentation">#}
{#                <button class="nav-link" id="notification-tab" data-bs-toggle="tab" data-bs-target="#notification-tab-pane" type="button" role="tab" aria-controls="notification-tab-pane" aria-selected="false">Notification</button>#}
{#            </li>#}
{#        </ul>#}

{#        <div class="tab-content" id="myTabContent">#}
{#            <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">#}
{#                <h6 class="mb-4">User Profile</h6>#}

{#                <form class="custom-form profile-form" action="#" method="post" role="form">#}
{#                    <input class="form-control" type="text" name="profile-name" id="profile-name" placeholder="John Doe">#}

{#                    <input class="form-control" type="email" name="profile-email" id="profile-email" placeholder="Johndoe@gmail.com">#}

{#                    <div class="input-group mb-1">#}
{#                        <img src="images/profile/senior-man-white-sweater-eyeglasses.jpg" class="profile-image img-fluid" alt="">#}

{#                        <input type="file" class="form-control" id="inputGroupFile02">#}
{#                    </div>#}

{#                    <div class="d-flex">#}
{#                        <button type="button" class="form-control me-3">#}
{#                            Reset#}
{#                        </button>#}

{#                        <button type="submit" class="form-control ms-2">#}
{#                            Update#}
{#                        </button>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}

{#            <div class="tab-pane fade" id="password-tab-pane" role="tabpanel" aria-labelledby="password-tab" tabindex="0">#}
{#                <h6 class="mb-4">Password</h6>#}

{#                <form class="custom-form password-form" action="#" method="post" role="form">#}
{#                    <input type="password" name="password" id="password" pattern="[0-9a-zA-Z]{4,10}" class="form-control" placeholder="Current Password" required="">#}

{#                    <input type="password" name="confirm_password" id="confirm_password" pattern="[0-9a-zA-Z]{4,10}" class="form-control" placeholder="New Password" required="">#}

{#                    <input type="password" name="confirm_password" id="confirm_password" pattern="[0-9a-zA-Z]{4,10}" class="form-control" placeholder="Confirm Password" required="">#}

{#                    <div class="d-flex">#}
{#                        <button type="button" class="form-control me-3">#}
{#                            Reset#}
{#                        </button>#}

{#                        <button type="submit" class="form-control ms-2">#}
{#                            Update Password#}
{#                        </button>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}

{#            <div class="tab-pane fade" id="notification-tab-pane" role="tabpanel" aria-labelledby="notification-tab" tabindex="0">#}
{#                <h6 class="mb-4">Notification</h6>#}

{#                <form class="custom-form notification-form" action="#" method="post" role="form">#}

{#                    <div class="form-check form-switch d-flex mb-3 ps-0">#}
{#                        <label class="form-check-label" for="flexSwitchCheckCheckedOne">Account activity</label>#}

{#                        <input class="form-check-input ms-auto" type="checkbox" name="form-check-input" role="switch" id="flexSwitchCheckCheckedOne" checked>#}
{#                    </div>#}

{#                    <div class="form-check form-switch d-flex mb-3 ps-0">#}
{#                        <label class="form-check-label" for="flexSwitchCheckCheckedTwo">Payment updated</label>#}

{#                        <input class="form-check-input ms-auto" type="checkbox" name="form-check-input" role="switch" id="flexSwitchCheckCheckedTwo" checked>#}
{#                    </div>#}

{#                    <div class="d-flex mt-4">#}
{#                        <button type="button" class="form-control me-3">#}
{#                            Reset#}
{#                        </button>#}

{#                        <button type="submit" class="form-control ms-2">#}
{#                            Update Password#}
{#                        </button>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}