{%extends 'base.html.twig' %}

  {% block stylesheets %}
    {{ parent() }}
{#    <link rel="stylesheet" type="text/css" href="{{asset('style/bootstrap.min.css')}}">#}
{#  <link rel="stylesheet" type="text/css" href="{{asset('style/bootstrap-icons.css')}}">#}
  <link rel="stylesheet" type="text/css" href="{{asset('style/tooplate-mini-finance.css')}}">
{#  <link rel="stylesheet" type="text/css" href="{{asset('style/apexcharts.css')}}">#}
    {# Include Google Fonts #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;700&display=swap" rel="stylesheet">

    {# Include Bootstrap CSS #}
    <link href="{{ asset('style/bootstrap.min.css') }}" rel="stylesheet">

    {# Include Bootstrap Icons CSS #}
    <link href="{{ asset('style/bootstrap-icons.css') }}" rel="stylesheet">

    {# Include your custom CSS #}
    <link href="{{ asset('style/tooplate-mini-finance.css') }}" rel="stylesheet">

  {% endblock %}

	{% block profile %}
      {{ parent() }}


<div class="container-fluid">
  <div class="row">
    <main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">

      <div class="row my-4">
{#        <div class="col-lg-7 col-12">#}
          {% block profile_details %}

          {% endblock %}

          {% block settings %}

          {% endblock %}
          {% block articles %}

          {% endblock %}
        {% block        myarticlesbids %}

        {% endblock %}
        </div>
{#      </div>#}
    </main>

  </div>
</div>
  {% endblock %}
