<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
	{# Other head content here #}
	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
		<link rel="stylesheet" type="text/css" href="{{asset('source/bootstrap-3.3.6-dist/css/bootstrap.css')}}">
		<link rel="stylesheet" type="text/css" href="{{asset('source/font-awesome-4.5.0/css/font-awesome.css')}}">
		<link rel="stylesheet" type="text/css" href="{{asset('style/slider.css')}}">
		<link rel="stylesheet" type="text/css" href="{{asset('style/mystyle.css')}}">
		<link rel="stylesheet" type="text/css" href="{{asset('style/loginform.css')}}">
		<link rel="stylesheet" href="{{asset('style/styles.css')}}" >

	{% endblock %}
</head>

<body>
<div class="allcontain">
	<div class="header">

		{% if not app.user %}
			<ul class="logreg">
				<li><a href="{{ path('app_login') }}">Login </a> </li>
				<li><a href="{{ path('app_register') }}"><span class="register">Register</span></a></li>
			</ul>
		{% endif %}
	</div>
	<!-- Navbar Up -->
	<nav class="topnavbar navbar-default topnav navbar-fixed-top">
		<div class="container">
{#			<div class="navbar-header">#}
{#				<a class="navbar-brand logo" href="#"><img src="{{ asset('image/logo.jpg') }}" alt="logo"></a>#}
{#			</div>#}
			<div class="collapse navbar-collapse" id="upmenu">
				{% block navbar%}

					<ul class="nav navbar-nav" id="navbarontop">
					<li class="active"><a href="#">HOME</a> </li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CATEGORIES <span class="caret"></span></a>
						<ul class="dropdown-menu dropdowncostume">
							<li><a href="#">Sport</a></li>
							<li><a href="#">Old</a></li>
							<li><a href="#">New</a></li>
						</ul>
					</li>
						{% if app.user %}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle"	data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PROFILE<span class="caret"></span></a>

								<ul class="dropdown-menu dropdowncostume">
									<li><a href="{{path('app_usr_profile', {'iduser': app.user.userIdentifier }) }}">OverView</a></li>
									<li><a href="{{path('app_usr_article_index', {'iduser': app.user.userIdentifier }) }}">My articles</a></li>
									<li><a href="{{path('app_usr_article_index', {'iduser': app.user.userIdentifier }) }}">My bids</a></li>
									<li><a href="{{path('user_profile_edit', {'iduser': app.user.userIdentifier }) }}">Setting </a></li>
									<li><a href="{{ path('app_logout') }}"> Logout</a></li>
								</ul>
							</li>


							<button><a class="postnewcar" href="{{ path('app_article_new') }}">POST NEW ARTICLE</a></button>
						{% endif %}

				</ul>
				{% endblock %}


			</div>
		</div>
	</nav>
</div>

<div class="allcontain">
	{% block register %}
		{# Additional content in the body #}
	{% endblock %}
	{% block login %}
		{# Additional content in the body #}
	{% endblock %}
	{% block listarticlehomepage %}
		{# Additional content in the body #}
	{% endblock %}
	{% block homepage %}
		{# Additional content in the body #}
	{% endblock %}
	{% block profilehome %}
		{# Additional content in the body #}
	{% endblock %}
	{% block newarticle %}
		{# Additional content in the body #}
	{% endblock %}

	{% block detailsarticle %}
		{% block addbid %}

		{% endblock %}
	{% endblock %}



</div>
<div class="bottommenu">
	<div class="footer">
		<div class="copyright">
			&copy; Copy right 2023 | <a href="#">Privacy </a>| <a href="#">Policy</a>
		</div>
		<div class="atisda">
			Designed by <a href="http://www.webdomus.net/">Bid App </a>
		</div>
	</div>
</div>
{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
	<script type="text/javascript" src="{{asset('source/bootstrap-3.3.6-dist/js/jquery.js')}}"></script>
	<script type="text/javascript" src="{{asset('source/js/isotope.js')}}"></script>
	<script type="text/javascript" src="{{asset('source/js/myscript.js')}}"></script>
	<script type="text/javascript" src="{{asset('source/bootstrap-3.3.6-dist/js/jquery.1.11.js')}}"></script>
	<script type="text/javascript" src="{{asset('source/bootstrap-3.3.6-dist/js/bootstrap.js')}}"></script>
	<script type="text/javascript" src="{{asset('source/js/timer.js')}}"></script>

{% endblock %}

{# Additional scripts or content #}
</body>
</html>
