<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" type="text/css" href="source/bootstrap-3.3.6-dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{asset('source/font-awesome-4.5.0/css/font-awesome.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('style/slider.css')}}">
	<link rel="stylesheet" type="text/css" href= "{{asset('style/mystyle.css')}}">
    	<link rel="stylesheet" type="text/css" href= "{{asset('style/loginform.css')}}">

        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script type="text/javascript" src="source/bootstrap-3.3.6-dist/js/jquery.js"></script>
<script type="text/javascript" src="{{asset('source/js/isotope.js')}}"></script>
<script type="text/javascript" src="{{asset('source/js/myscript.js')}}"></script> 
<script type="text/javascript" src="{{asset('source/bootstrap-3.3.6-dist/js/jquery.1.11.js')}}"></script>
<script type="text/javascript" src="{{asset('source/bootstrap-3.3.6-dist/js/bootstrap.js')}}"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
