{% extends 'base.html.twig' %}

{% block title %}Bid index{% endblock %}

{% block body %}
    <h1>Bid index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Article_Name</th>
                <th>Bidingprice</th>
                <th>Bidingdate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bid in bids %}
            <tr>
                <td>{{ bid.id }}</td>
                <td>{{ bid.article }}</td>
                <td>{{ bid.bidingprice }}</td>
                <td>{{ bid.bidingdate ? bid.bidingdate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_bid_show', {'id': bid.id}) }}">show</a>
{#                    <a href="{{ path('app_bid_edit', {'id': bid.id}) }}">edit</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_bid_new') }}">Create new</a>
{% endblock %}
