{% extends 'base.html.twig' %}

{% block title %}Bid{% endblock %}

{% block body %}
    <h1>Bid</h1>
    {% for bid in bids %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bid.id }}</td>
            </tr>
            <tr>
                <th>Bidingprice</th>
                <td>{{ bid.bidingprice }}</td>
            </tr>
            <tr>
                <th>Bidingdate</th>
                <td>{{ bid.bidingdate ? bid.bidingdate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_bid_index') }}">back to list</a>

    <a href="{{ path('app_bid_edit', {'id': bid.id}) }}">edit</a>

    {{ include('bid/_delete_form.html.twig') }}
    {% endfor %}

{% endblock %}
