{{ form_start(form) }}
    {{ form_row(form.titre) }}
    {{ form_row(form.description) }}
    {{ form_row(form.date_fin) }}
    {{ form_row(form.prix_depart) }}
    {{ form_row(form.prix_final) }}

    {{ form_row(form.imageFile) }} {# Add this line for the file upload field #}

    {{ form_row(form._token) }}
    <button type="submit">Save</button>
{{ form_end(form) }}

