{% extends 'base.html.twig' %}
{#{{ form_start(form) }}#}
{#    {{ form_row(form.titre) }}#}
{#    {{ form_row(form.date_fin) }}#}
{#    {{ form_row(form.prix_depart) }}#}
{#    {{ form_row(form.prix_final) }}#}

{#    {{ form_row(form.imageFile) }} #}{# Add this line for the file upload field #}

{#    {{ form_row(form._token) }}#}
{#<button type="submit">Save</button>#}
{#{{ form_end(form) }}#}
{% block editarticle %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                {{ form_start(form, { 'attr': {'enctype': 'multipart/form-data'} }) }}

                <div class="col-md-6">

                    <div class="card">
                        {{ form_row(form.imageFile, {'attr': {'class': 'card-img-top mb-5 mb-md-0'}}) }}
                        {% if article.imageName is defined and article.imageName is not null %}
{#                            <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="Current Image" style="max-width: 200px; max-height: 200px;">#}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="fs-5 mb-5">
                       <span>  {{ form_row(form.titre) }}</span>
                        <span> {{ form_row(form.description) }}</span>
                        <span> {{ form_row(form.prix_depart) }}</span>
                        <span> {{ form_row(form.prix_final) }}</span>
                        <span> {{ form_row(form.date_fin) }}</span>
                    </div>
                    <div class="d-flex">
                        <button type="submit">update</button>

                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ form_end(form) }}

{% endblock %}
