{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}
{% block body %}
    You are logged in as {{ app.user.nom}}

    <h1>Article index</h1>

    <table class="table" border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Date_deb</th>
                <th>Date_fin</th>
                <th>Prix_depart</th>
                <th>Prix_final</th>
                <th>PrixEnchereMax</th>
                <th>BiddingPrices</th>
                <th>Winningbidingprice</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.dateDeb ? article.dateDeb|date('Y-m-d') : '' }}</td>
                <td>{{ article.dateFin ? article.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ article.prixDepart }}</td>
                <td>{{ article.prixFinal }}</td>
                <td>{{ article.prixEnchereMax }}</td>
                <td>{{ article.biddingPrices ? article.biddingPrices|join(', ') : '' }}</td>
                <td>{{ article.winningbidingprice }}</td>

                <td>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_article_new') }}">Create new</a>
{% endblock %}
