
{% extends 'baseprofile.html.twig' %}


{% block articles %}

    <table class="custom-block custom-block-exchange">
        <thead>
        <tr class="d-flex align-items-center border-bottom pb-3 mb-3" >
            <th class="d-flex align-items-center" >
                <small> image</small>

            </th>
            <th class="ms-auto me-4">
                <small>titre</small>
            </th>
            <th class="ms-auto me-4">
                <small>Date début</small>
            </th>
            <th class="ms-auto me-4">
                <small>Date fin</small>
            </th>
            <th class="ms-auto me-4">
                <small>Prix départ</small>
            </th>
            <th class="ms-auto me-4">
                <small>status</small>
            </th>
            <th class="ms-auto me-4">
                <small>Bids</small>
            </th>
            <th class="ms-auto me-4">
                <small>update</small>
            </th>

        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr class="d-flex align-items-center border-bottom pb-3 mb-3">
                <td class="d-flex align-items-center">
                    <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="Article Image" class="exchange-image img-fluid">
                </td>
                <td class="ms-auto  " >
                    <h6>{{ article.titre }}</h6>
                </td>
                <td class="ms-auto  " >
                    <h6>{{ article.dateDeb ? article.dateDeb|date('Y-m-d') : '' }}</h6>
                </td>
                <td class="ms-auto ">
                    <h6>{{ article.DateFin | date('Y-m-d ') }}</h6>
                </td>

                <td class="ms-auto " >
                    <h6>{{ article.prixDepart }}</h6>
                </td>
                {% if  article.DateFin | date('Y-m-d ') > "now"|date('Y-m-d ') %}

                <td class="ms-auto " >
                    <h6>availale</h6>
                </td>
                {% else %}
                    <td class="ms-auto">
                    <h6  style="color: red;">
                        expired
                    </h6>
                </td>
                {% endif %}
                <td class="ms-auto " >
                    <button><a href="{{ path('article_bids', {'articleId': article.id}) }} " class="btn custom-btn">See all bids</a></button>
                </td>
                <td class="ms-auto ">
                    <button><a href="{{ path('app_article_edit', {'id': article.id}) }}" class="btn custom-btn">update</a></button>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
