{% extends 'base.html.twig' %}

 {% block detailsarticle %}
     {{ parent() }}
     <div class="feturedimage">

         <div class="row firstrow">

                 <div class="col-lg-6 costumcol colborder1">
                     <div class="row costumrow">
                         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img1colon">
                             <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="porsche">
                         </div>
                         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 txt1colon ">
                             <div class="featurecontant">

                                 <h1>{{  article.titre }}</h1>
                                 <h2>Auctioneer : {{ article.user.nom }}</h2>

                                 <p>{{ article.description }}</p>
                                 <h2>Start with ${{ article.prixDepart }} </h2>
                                 <h2>Max Bid ${{ article.prixFinal }}</h2>
                                 <div id="timer" class="countdown-timer"
                                      data-date="{{ article.dateFin ? article.dateFin|date('Y-m-d') : '' }}">
                                 </div>
                                 {# <button id="btnRM" onClick="rmtxt()" href="">SEE DETAILS</button>#}
                                 <div class="text-center">
                                     <a class="btn btn-outline-dark mt-auto" href="{{ path('app_bid_new', {'article_id': article.id}) }}">ADD BID</a>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>

         </div>
     </div>
 {% endblock %}

