{% extends 'base2.html.twig' %}

{% block title %}My Articles{% endblock %}

{% block body %}
    <h1>My Articles</h1>

    <ul>
        {% for article in articles %}
            <li>
                {{ article.titre }} - {{ article.description }}
                {% if article.imageName %}
<div class="img-container">
            <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="Article Image" />
        </div>                {% endif %}
                <a href="{{ path('app_article_show', {'id': article.id}) }}">View</a>
            </li>
        {% else %}
            <li>No articles found.</li>
        {% endfor %}
    </ul>

    <a href="{{ path('app_article_new') }}">Add New Article</a>
{% endblock %}
